.h1color{
    color: rgb(75, 231, 63);
    text-align: center;
    width: 100%;
    margin-top: 6px;
    font-size: 5rem;
}

.bg-color{
    background-color: rgb(229, 241, 241);
}

.notextmuted{
    color: black;
}
.bg-img{
    background-image: image(100%);
}

.videoClass{
    width: 100%;
    margin-top: 6px;
    justify-content: center;
}

.logoAnimacion{
    animation-duration: 10s;
       animation-name: aparecer;
       animation-iteration-count: 1;
    }
    @keyframes aparecer {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
     }

.posicionFormulario{
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}